
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/c_cpp_properties.json
out/.exe
out/add_polybomials_together.exe
out/catch_neko.exe
out/converted_vinux_input.exe
out/crazy_plan.exe
out/delinked_list.exe
out/difficult_josephus_problem.exe
out/down_right_up.exe
out/easy_josephus_problem.exe
out/eccentric_calculator.exe
out/excellent_power.exe
out/exciting_spider.exe
out/factorial_magic.exe
out/from_now_on_minimum_difference.exe
out/generator.exe
out/in.txt
out/interesting_number.exe
out/lucky_number.exe
out/magi_queue_array.exe
out/magic_brackets.exe
out/magic_calculator.exe
out/magic_number.exe
out/magic_queue_array.exe
out/magic_queue.exe
out/magic_sequences.exe
out/magical_number.exe
out/Majsoul.exe
out/merge_sort_store.exe
out/nearest_prize.exe
out/only_3_sum_fast.exe
out/only_3_sum.exe
out/out.txt
out/quickSort.exe
out/Rubiks_cube.exe
out/shift.exe
out/sign.exe
out/sudoku.exe
out/summer_camp.exe
out/test.exe
out/two_product.exe
out/vinceBlack_store.exe
out/YYJ_magic_beads.exe
out/How_many_substrings.exe
out/Matching_problem.exe
